# ignore node dependency directories
node_modules/
!themes/digital-pedagogy/node_modules/

# ignore composer dependency directories
vendor/
!plugins/ninja-forms-uploads/vendor/
!plugins/bp-rbe-inbound-forum-attachments/vendor/
!plugins/humcore/vendor/
!plugins/wp-graphql-tax-query/vendor/
!plugins/wp-graphql/vendor/
!themes/dahd-tainacan/**

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore uploads archive
*.tar.gz

# ignore sites directories
site/web/app/mu-plugins/*
site/web/app/plugins/*
site/web/app/themes/*
site/web/app/uploads/*
site/web/app/upgrade/*
site/web/wp/*
site/web/app/fonts/*
site/web/app/uploads
site/web/app/blogs.dir

#ignore temporary and logging directories
log/
tmp/

# don't check in generated secrets.env
secrets.env

# ignore SAML private keys
saml.crt
saml.pem

.nohup.out
nohup.out

# ignore vscode settings
.vscode/*

# don't ignore vscode xdebug settings
!.vscode/launch.json

# ignore temp directories and files
kc-scripts-*/
site/.env

# ignore macos files
.DS_Store
._*

# ignore local composer exec
composer.phar 

# ignore copied .lando.yml
.lando.yml
.lando.local.yml

# ignore commons-connect
commons-connect/
cc-client
cc-client/

# ignore composer.lock for 15zine-functionality because it has no dependencies
# and we never run composer install on it
forked-plugins/15zine-functionality/composer.lock