// colors
$dark-green: #455a64;
$text-dark: #1e1e1e;
$light-grey: #d6d6d6;
$light-green: CadetBlue;
$grey-green: #cfd8dc;
$green-blue: #E7F8FA;

$footer-bg: $dark-green;
$footer-fg: #fff;
$header-bg: $dark-green;
$header-fg: #fff;
$collectionBar-bg: $light-green;
$goldHighlight: #dfdfb7;
$goldTitles: #354973;

// fonts
$xlarge-size: 4.4rem;
$large-size: 3.2rem;
$medium-size: 2.4rem;
$normal-size: 1.6rem;
$sub-size: 1.4rem;
$small-size: 1.2rem;
$smaller-size: 1.0rem;
$smallest-size: .8rem;

// breakpoints

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$largeScreen: 1200px
