//Colors
$red: #b73a3a;
$red-dark: #962e2e;
$green: #007a7b;
$green-dark: #003C3D;
$yellow: #f39f3d;
$gray-dark: #555255;
$gray-light: #adadad;

//Fonts
$font-primary: "acumin-pro", Arial, sans-serif;