# Build container and push to AWS ECR

on:
  push:
    branches:
      - main
      - production
      - dev
      - wordpress-cilogon

name: AWS ECR Build & Push

env:
  BRANCH_NAME: ${{ github.base_ref || github.ref_name }}

jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
    
      - name: Debug-1
        run: echo "::debug::Checked out ${{ github.base_ref || github.ref_name }}"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
        
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          mask-password: true

      - name: Debug-2
        run: |
          awsident=$(aws sts get-caller-identity --no-cli-pager)
          echo "::debug::AWS Identity: $awsident"
  
      - name: Build images
        id: build
        run: |
          docker buildx create --use
          docker buildx build --platform linux/arm64 --load -t ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/commons-wordpress-nginx:${{env.BRANCH_NAME}} -f Dockerfile.nginx .
          docker buildx build --platform linux/arm64 --load -t ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/commons-wordpress-app:${{env.BRANCH_NAME}} -f Dockerfile.php --target cloud .

      - name: Push images
        id: push
        run: |
          docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/commons-wordpress-nginx:${{env.BRANCH_NAME}}
          docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/commons-wordpress-app:${{env.BRANCH_NAME}}